* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow: visible;
}

.Hero-Section {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.Navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding-top: 40px;
  font: 18px lato, sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #ffff;
}

.Inner {
  font-size: 25px;
  color: white;
}

a:hover {
  color: #bc9565;
}

.Image-1,
.Image-2 {
  position: absolute;
  inset: 0;
}

.Image-1 img,
.Image-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.Image-1 {
  animation: image1 10s infinite;

}

.Image-2 {
  animation: image2 10s infinite;
}

@keyframes image1 {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes image2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.Hero-Content {
  height: 500px;
  width: 500px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 150px;
  gap: 30px;
  color: white;
}

.Sub-Hero-Content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}

.Hero-Title {
  font-size: 30px;
  animation: hero-title 1s ease-out;
}

.Hero-Description,
.PORTFOLIO-Button {
  animation: hero-title 1s ease;
}

@keyframes hero-title {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

Button {
  height: 60px;
  width: 200px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.Play-Button {
  font-size: 80px;
  color: white;

}

Button:hover {
  color: black;
  background-color: white;
}

.About-Section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 548px 1fr;
  grid-template-rows: 500px 200px;
  position: relative;
  left: 300px;
}

.Content-Card {
  width: 600px;
  height: 500px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 30px;
  justify-content: center;
  z-index: 2;
  left: -70px;
  top: 100px;
  position: relative;
  padding-left: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  animation: slidecard 1.5s ease-out forwards;
  /* animation-timeline: view(); */

}

@keyframes slidecard {
  from {
    transform: translateX(600px);
    opacity: 0;

  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.Statistics {
  margin-top: 100px;
  margin-left: 30px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 3;
}

.About-image img {
  display: block;
  object-fit: cover;

}

.Content-Card-Button button {
  background-color: black;
  color: #ffff;
  border: 1px solid black;
}

.Content-Card-Button button:hover {
  border: 2px solid black;
  background-color: #ffff;
  color: black;
}

.About-image {
  grid-column: 1;
  grid-row: 1 / 3;
}

.Content-Card {
  grid-column: 2;
  grid-row: 1;
}

.Statistics {
  grid-column: 2;
  grid-row: 2;
}

.Watch-Video {
  display: flex;
  padding-top: 25px;
  align-items: center;
  gap: 20px;
  grid-column: 1;
  grid-row: 2;
  height: 90px;
  width: 240px;
  background-color: #ffff;
  margin-top: 120px;

}

.Content-Play-Button {
  color: black;
  font-size: 60px;
}

.Services-Section {
  margin-top: 90px;
  display: flex;
  width: 100%;
  background-color: rgb(248, 245, 245);
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 100px 40px 100px;
  gap: 30px;
}

.Services-card {
  height: 300px;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;

}

.Services-Button {
  background-color: black;
  border: 1px solid black;
  animation: Services-title 1s ease-out;

}

.Services-card.Intro h1 {
  font: 32px lato, sans-serif;
  animation: Services-title 1s ease-out;
}

.Services-card.Intro p {
  font: 16px hebbo, sans-serif;
  color: #666666;
  animation: Services-title 1s ease-out;
}

.Services-card h1 {
  font: 24px lato, sans-serif;
}

.Services-card p {
  font: 16px hebbo, sans-serif;
  color: #666666;
}

.Services-card i {
  font-size: 35px;
  color: #bc9565;
}

.Services-card.Residential,
.Services-card.Restaurant,
.Services-card.Restaurant.Corporate {
  background-color: white;
  transition: 0.5s;
}

.Services-card.Residential:hover {
  background-image: url("https://images.unsplash.com/photo-1600210492486-724fe5c67fb0?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: initial;

}

.Services-card.Restaurant:hover {
  background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: initial;

}

.Services-card.Corporate:hover {
  background-image: url("https://images.unsplash.com/photo-1497366811353-6870744d04b2?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: initial;

}

.Services-card.Commercial:hover {
  background-image: url("https://images.unsplash.com/photo-1497366754035-f200968a6e72?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: initial;

}

.Services-card.Industrial:hover {
  background-image: url("https://images.unsplash.com/photo-1581094794329-c8112a89af12?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: initial;

}


.Services-card:hover {
  color: white;
}

.Services-card:hover p,
.Services-card:hover i {
  color: white;
}

.Services-card.Intro:hover h1 {
  color: black;
}

.Services-card.Intro:hover p {
  color: #666666;
}


@keyframes Services-title {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

.Projects-Header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 60px;
}

.portfolio {
  position: absolute;
  top: -50px;
  font-size: 120px;
  color: #f2f2f2;
  z-index: 0;
}

.Projects-Header h1 {
  position: relative;
  z-index: 1;
}

.Projects-Header p {
  color: #666666;
  font-size: 20px;
}

.Project-Categories {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
  font: 16px heebo, sans-serif;
  letter-spacing: 3px;
  padding-top: 20px;
}

.Projects-Images {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.Project-Card {
  position: relative;
  overflow: hidden;
  width: 33.33%;
  height: 500px;
}

.Project-Card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.Project-Info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  inset: 0;
  gap: 10px;
  color: black;
  transition: 0.5s;
  opacity: 0;
  padding: 0px 100px;
}

.Project-Info h1 {
  font: 20px lato, sans-serif;
}

.Project-Card:hover .Project-Info {
  opacity: 1;
  color: #ffffff;
}

.Meet-Our-Team {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 100%;
}

.Team-Card {
  height: 400px;
  width: 400px;
  position: relative;
  overflow: visible;
}

.Team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.Team-Card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: 0.4s ease;
  z-index: 1;
}

.Member-Details {
  height: 102px;
  width: 271px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: -20px auto 0;
  margin-top: -20px;
  z-index: 2;
  transform: translateY(-10%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.Team-Card-Intro {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  word-spacing: 2px;
  padding: 40px 0px 0px 30px;
}

.Team-Card-Intro h1 {
  font: 42px lato, sans-serif;
  line-height: 50px;
}

.Team-Card-Intro p {
  font: 16px hebo, sans-serif;
  color: #666666;
  line-height: 25px;
}

.Team-Button {
  color: white;
  background-color: black;
  border: 1px solid black;
  letter-spacing: 1px;
  font: 16px sans-serif;
}

.MemberName {
  color: #181818;
  font: 18px lato, sans-serif;

}

.Designation {
  color: #666666;
  font: 14px hebo, sans-serif;
}


.Social-Icons {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%) translateY(30px);

  display: flex;
  gap: 12px;

  opacity: 0;
  transition: 0.4s ease;

  z-index: 2;
}

.Social-Icons i {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #bc9565;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

}

.Team-Card:hover::before {
  opacity: 1;
}

.Team-Card:hover .Social-Icons {
  opacity: 1;
  transform: translateX(-50%) translateY(-100px);
}

.TeamI {

  transform: 0.5s ease;
}

.TeamI:hover {
  background-color: black;
}

.Clients-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  background-color: #ececec;
  height: 200px;

}

.Client-Logo img {
  height: 63px;
  width: 163px;
  opacity: 0.5;
  animation: marquee 5s linear infinite;
}

.Client-Logo img:hover {
  opacity: 1;
}

@keyframes marquee {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}

.How-We-Work-Section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 60px;
}

.How-We-Work-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.How-We-Work-Intro {
  display: flex;
  justify-content: center;
  gap: 100px;

}

.How-We-Work-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 10px;
}

.Work-Number {
  font: 100px lato, sans-serif;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #d0d0d0;
}

.How-We-Work-h1 {
  font: 24px lato, sans-serif;
  font-weight: bold;
}


.How-We-Work-p {
  font: 16px hebo, sans-serif;
  width: 400px;
  text-align: center;
  line-height: 1.6;
  color: #666666;

}

.How-We-Work-Header p {
  animation: How-We-Work-h1 2s ease;
}

.How-We-Work-Header h1 {
  font: 42px lato, sans-serif;
  font-weight: bold;
  animation: How-We-Work-h1 1.5s ease;
}

@keyframes How-We-Work-h1 {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}

.How-We-Work-Testimonials {
  display: flex;
  gap: 70px;
}

.How-We-Work-Testimonials img {
  height: 700px;
  width: 50%;
}

.Testimonials {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.Testimonials-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.Testimonials h1 {
  font: 32px lato, sans-serif;
  font-weight: bold;
}

.Testimonial-People {
  height: 250px;
  position: relative;
  overflow: hidden;
  width: 450px;
}

.Person {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  animation: testimonial 9s infinite;
}

.Person1 {
  animation-delay: 0s;
}

/* Card 2 */
.Person2 {
  animation-delay: 3s;
}

/* Card 3 */
.Person3 {
  animation-delay: 6s;
}

@keyframes testimonial {

  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  10% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 1;
    transform: translateX(0);
  }

  40% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.Person-Details {
  display: flex;
  gap: 60px;

}

.Person-Details img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
}

.Quote {
  font-size: 70px;
  color: #bc9565;
  font-weight: bold;
  line-height: 1;
}

span {
  color: #666666
}

.Get-In-Touch {
  display: flex;
  width: 100%;
  background-color: #181818;
  height: 1000px;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.Contact-Info {
  display: flex;
  flex-direction: column;
  height: 575px;
  width: 573px;

  gap: 70px;
  padding-top: 70px;
}

.Contact-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font: 16px hebo, sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.Contact-Form {
  display: flex;
  flex-direction: column;
  height: 575px;
  width: 573px;
  background-color: #ffff;
  gap: 30px;
  align-items: center;
  justify-content: center;
  animation: Form 2s ease;
}

@keyframes Form {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0px);
  }

}

input {
  width: 400px;
  height: 50px;
  padding: 6px 12px 6px 30px;
  color: white;
}

textarea {
  width: 400px;
  height: 100px;
  padding: 6px 12px 6px 30px;
}

.First {
  color: #ffff;
  font: 20px lato, sans-serif;
}

.Form-Button {
  background-color: black;
  margin-left: -200px;
  border: 2px solid black;
}

placeholder {
  text-align: center;
}

.contact-item h1 {
  color: #ffff;
  font: 42px lato, sans-serif;
}

.contact-item p {
  color: #666666;
  font: 16px hebo, sans-serif;
}

.contact i {
  color: white;
}

input:hover {
  border: 2px solid black;
}

textarea:hover {
  border: 2px solid black;
}

.contact span:hover {
  color: white;
}

.Footer {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

.Footer-Body {
  display: flex;
  justify-content: start;
  gap: 200px;
}

.Footer-Other-Pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Footer-Quick-Links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Footer-Latest-Projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Images {
  display: flex;
  flex-wrap: wrap;
}

.Footer-info i {
  font-size: 25px;
}

.Footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Footer-info h1 {
  font: 42px lato, sans-serif;
  font-weight: bold;
}

.iframes {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

h3 {
  font: 18px lato, sans-serif;
}

span:hover {
  color: #bc9565;
}

.Images {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 200px;
  width: 320px;
  gap: 10px;
}

.Images img {
  height: 100px;
  width: 100px;
}

hr {
  border:1px solid #ddd;
  width: 100%;
}
.Footer-license{
  height:100px;
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-top:-80px;
  color: #666666;
}