* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.Hero-Section {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.Navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding-top: 40px;
  font: 18px lato, sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #ffff;
}

.Inner {
  font-size: 25px;
  color: white;
}

a:hover {
  color: #bc9565;
}

.Image-1,
.Image-2 {
  position: absolute;
  inset: 0;
}

.Image-1 img,
.Image-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.Image-1 {
  animation: image1 10s infinite;

}

.Image-2 {
  animation: image2 10s infinite;
}

@keyframes image1 {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes image2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.Hero-Content {
  height: 500px;
  width: 500px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 150px;
  gap: 30px;
  color: white;
}

.Sub-Hero-Content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}

.Hero-Title {
  font-size: 30px;
  animation: hero-title 1s ease-out;
}

.Hero-Description,
.PORTFOLIO-Button {
  animation: hero-title 1s ease;
}

@keyframes hero-title {
  to {
    transform: translateX(0px);
  }

  from {
    transform: translateX(-120px);
  }
}

Button {
  height: 60px;
  width: 200px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.Play-Button {
  font-size: 80px;
  color: white;

}

Button:hover {
  color: black;
  background-color: white;
}

.About-Section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 548px 1fr;
  grid-template-rows: 500px 200px;
  position: relative;
  left: 300px;
}

.Content-Card {
  width: 600px;
  height: 500px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 30px;
  justify-content: center;
  z-index: 2;
  left: -70px;
  top: 100px;
  position: relative;
  padding-left: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  animation: slidecard 1.5s ease-out forwards;
  /* animation-timeline: view(); */

}

@keyframes slidecard {
  from {
    transform: translateX(600px);
    opacity: 0;

  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.Statistics {
  margin-top: 100px;
  margin-left: 30px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 3;
}

.About-image img {
  display: block;
  object-fit: cover;

}

.Content-Card-Button button {
  background-color: black;
  color: #ffff;
  border: 1px solid black;
}

.Content-Card-Button button:hover {
  border: 2px solid black;
  background-color: #ffff;
  color: black;
}

.About-image {
  grid-column: 1;
  grid-row: 1 / 3;
}

.Content-Card {
  grid-column: 2;
  grid-row: 1;
}

.Statistics {
  grid-column: 2;
  grid-row: 2;
}

.Watch-Video {
  display: flex;
  padding-top: 25px;
  align-items: center;
  gap: 20px;
  grid-column: 1;
  grid-row: 2;
  height: 90px;
  width: 240px;
  background-color: #ffff;
  margin-top: 120px;

}

.Content-Play-Button {
  color: black;
  font-size: 60px;
}